$color_black: #000000;
$color_grey: #373737;
$color_grey_light: #A39F8E;
$color_white: #fef8dd;
$color_blue: #1fb9f3;
$color_green: #51f249;
$color_yellow: #fff249;
$color_red: #F55658;
$color_purple: #6b1ff3;