
/* Resets, etc */
@import './theme/theme.scss';

/* Color palette */
@import './theme/colors.scss';


h1, h2, h3, h4{
  font-family: $font-rocksalt;
}

h1{
  font-size:4rem;
}
h2{
  font-size:3rem;
}
h3{
  font-size:2.6rem;
}

$value_gameTop: 150px;

body{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:0;
  font-family: 'Roboto', cursive;
  font-weight: 500;
  font-size: 1.8rem;

  background-color: $color_grey;
  color: $color_green;
}

#header{
  height:$value_gameTop;

  padding: 5px;
  // box-shadow: 4px 4px 5px $color_black;

  display:flex;
  align-items:center;
}

#game-container{
  position:absolute;
  top:$value_gameTop;
  height:calc(100% - #{$value_gameTop});
  width:100%;

  overflow:auto;

  >canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

$shadow_tab: 5px 0px 5px -4px $color_black;

.header-left{
  box-shadow: $shadow_tab;
  border-radius: 20px;
  padding:0px 80px 0px 10px;

  height:100%;
}
.header-right{
  flex:1;
  height:100%;
  text-align:right;

  >*{
    display:inline-block;
    width:49%;
    vertical-align:top;

    padding:5px;
    height:100%;

    color: $color_grey_light;

    border-top: 3px solid $color_grey;
    border-bottom: 3px solid $color_grey;
    box-shadow: $shadow_tab;
    border-radius: 20px;
    padding-right:10px;
    
    h4{
      margin-top:-10px;
    }
  }
}

#controls{

  input{
    display:inline-block;
    vertical-align:middle;
    width:100px;
  }

  button{
    border-radius:10px;
    background-color:transparent;
    padding:4px;

    &#stop-game{
      border:2px solid $color_red;
      color:$color_red;
    }

    &#start-game{
      border:2px solid $color_green;
      color:$color_green;
    }
  }

  #spawn-counter{
    margin-top:10px;
    color: $color_grey_light;
  }
}

#status{
  .score-bowls{
    color: $color_red;
  }
  .score-bites{
    color: $color_red;
  }
  .score-hugs{
    color: $color_green;
  }
  .score-total{
    color: $color_grey_light;
  }

  .good{
    color: $color_green;
  }
  .bad{
    color: $color_red;
  }
}

.control-group{
  width: 49%;
  display: inline-block;


  color: $color_yellow;

  &:first-child{
    margin-top:0;
  }

  >p{
    margin-bottom:2px;
  }
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: $color_grey_light;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: $color_yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color_yellow;
  cursor: pointer;
}